# Build artifacts
target/
**/*.rs.bk

# Git
.git
.gitignore

# Environment & Secrets
.env

# Frontend dev files
dashboard/node_modules
dashboard/dist

# Docker & Docs
Dockerfile
README.md
debug/*
scratch/*
scripts/*
examples/*
.idea/*
*.iml
ai-rules/*
docs/*

# Tests (non servono per release build)
tests/*
smoke-test/*

# CI & Task management
.github/*
.todo/*

# Other components not necessary
sdk/*
data/*